name: working with artifacts
on: 
    workflow_dispatch:

jobs:
    test-build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: artifacts/react-app
        steps:
         - name: checkout code
           uses: actions/checkout@v4
         - name: setup Node
           uses: actions/setup-node@v3
           with:
            node-version: '20.x'
         - name: Download caced dependencies
           uses: actions/cache@v3
           id: cache
           with:
             path: artifacts/react-app/node_modules
             key:  deps-node-modules-${{ hashFiles('artifacts/react-app/package-lock.json')}}
         - name: install dependencies
           if: steps.cache.outputs.cache-hit != 'true'
           run: npm ci
         - name: unit tests
           run: npm run test
         - name: build code
           run: npm run build
         - name: upload build files
           uses: actions/upload-artifact@v4
           with:
            name: app
            path: artifacts/react-app/build
          
    deploy:
        runs-on: ubuntu-latest
        steps:
         - name: download build artifact
           uses: actions/download-artifact@v4
           with:
            name: app
            path: build
         - name: show build files
           run: ls -R