name: working with outputs
on: 
    workflow_dispatch:
        inputs:
            build-status:
                type: choice
                options:
                    - success
                    - failure
                default: success
                description: simulate build status for testing
jobs:
    build:
        runs-on: ubuntu-latest
        outputs:
            build-status: ${{ steps.build.outputs.status}}
        steps:
         - name: print GITHUB_OUTPUT path
           run: echo "GITHUB_OUTPUT is located at $GITHUB_OUTPUT"
         - name: Build
           id: build
           run: echo "status=${{ inputs.build-status }}" >> "$GITHUB_OUTPUT"

    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
         - name: Deploy
           if: ${{ needs.build.outputs.build-status == 'success' }}
           run: echo "deploying application"
    