name: using actions
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
         - name: checkout the code
           uses: actions/checkout@v4
         - name: printing folders
           run: ls